nav,
header, 
footer {
    display: block
}

body {
    background-color: white;
    line-height: 1;
    margin: 0;
}

/*########################### Navbar ######################################*/

nav{
    width: 100%;
    margin: 0;
}

nav ul {
    background-color: grey;
    overflow: hidden;
    margin: 0;
    padding: 0; 
}

ul.topnav li {
    list-style: none;
    float: left;
    overflow: visible;
}

ul.topnav li a {
    display: block;
    text-decoration: none;
    /*font-size: 16px;*/
    min-height: 16px;
    text-align: center;
    padding: 14px;
    text-transform: uppercase;
    color: white; 
}

ul.topnav li a:hover {
    background-color: #0080ff;
    color: #fff;
}

ul.subnav {
    display: none;
    position: absolute;
    background-color: #eee;
    list-style: none;
    padding: 0;
    z-index: 1;
}

ul.topnav li:hover ul.subnav {
    display: block;
}

ul.topnav li.topnav-right {
    float: right
}

ul.subnav li {
    width: 100%;
}

ul.subnav li a {
    padding: 10px;
    color: #666;
    display: block;
    text-align: left;
    text-transform: none;
}

ul.subnav li a:hover {
    background-color: #0080ff;
    color: #fff;
}

/* ################################ Featured Products ##################################*/


.featured-products {
    text-align: center;
    padding: 20px;
}

.featured-products h2 {
    margin-bottom: 20px;
}

.featured-products .product {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.featured-products img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* ################################ Top Content ##################################*/


.top {
    position: relative;
    text-align: center;
    background-color: #f5f5f5;
    padding: 100px 0;
}

.top img {
    /* max-width: 100%;
    height: auto; */

    width: 1200px;
    height: 450px;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 1px;
}

.top-content {
    position: absolute;
    top: 70%;
    right: 58%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.top h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.top p {
    font-size: 18px;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0080ff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0057b3;
}


/* .top-slideshow {
    position: relative;
    width: 100%;
    max-height: 500px; 
    overflow: auto;
}

.top-slideshow img {
    max-width: 100%;
    height: auto;
    display: none;
} */

/* ########################################### Cards ######################################## */


.container1 {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    background-color: rebeccapurple;
    border: 1px solid aqua;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    text-align: center;
    transition: transform 0.2s, background-color 0.3s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: palevioletred;
}

.card a {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 15px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.card a:hover {
    background-color: royalblue;
}

.card h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card p {
    font-size: 16px;
    color: #777;
}

.card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

